@font-face
{
    font-family:'NotoSerif';
    src: url('../fonts/NotoSerif-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
body {
    background-image: url("../images/bienvenue.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color:#464646;
    width: 100%;
    color: black;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    font-family: 'NotoSerif';
}
h1 {
    display: flex;
    justify-content: space-around;
    font-size: 50px;
    font-weight: bold;
    color: white;
}
h2 {
    display: flex;
    justify-content: space-around;
    font-size: 30px;
    color: black;
}
#menuNavigation {	
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    font-size: 30px;
    color: black;
    border: 2px solid black;
    width: 80%;
    margin: auto;
    padding: 0;
    border-radius: 25px;	
}	
a:hover {	
    text-decoration: none;	
}	
a {	
    text-decoration: none;	
    color: black;	
}
#contentPresentation {
    border: 2px solid black;
    border-radius: 10px;
    background-color: white;
    opacity: 0.6;
    width: 90%;
    height: 500px;
    margin: auto;
    margin-top: 5%;
    position: relative;
}
#photoAuthor {
    width: 50%;
    position: relative;
}
#contentPhoto {
    display: flex;
}
.photoAuthor {
    width: 100%;
    position: absolute;
    display: flex;
    margin: 10px;
    z-index: 1;
}