@font-face
{
    font-family:'NotoSerif';
    src: url('../fonts/NotoSerif-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
body {
    background-image: url("../images/bienvenue.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color:#464646;
    width: 100%;
    color: black;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    font-family: 'NotoSerif';
    margin: 0;
}
h1 {
    display: flex;
    justify-content: space-around;
    font-size: 80px;
    font-weight: bold;
    color: white;
    margin-bottom: 0;
}
h2 {
    display: flex;
    justify-content: space-around;
    font-size: 40px;
    color: black;
}
#menuNavigation {	
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    background-color: black;
    font-size: 25px;
    width: 100%;
    margin: auto;
    padding: 0;
}	
a:hover {	
    text-decoration: none;	
}	
a {	
    text-decoration: none;	
    color: white;	
}
#contentPresentation {
    background-color: white;
    opacity: 0.8;
    width: 90%;
    min-height: 500px;
    margin: auto;
    margin-top: 5%;
    position: relative;
    display: flex;
}
#photoAuthor {
    display: flex;
    width: 50%;
    position: relative;
    margin: 5px;
}
#contentPhoto {
    display: flex;
   align-items: center;
}
.photoAuthor {
    width: 100%;
    position: absolute;
    display: flex;
    z-index: 1;
}
#contentText {
    width: 50%;
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
    margin-left: 50px;
    margin-right: 50px;
}
#experience h3 {
    font-size: 35px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0;
}
#experience {
    background-color: white;
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    left: 0;
    margin-top: 2%;
    min-height: 300px;
    opacity: 0.8;
}
#oneLibrary {
    width: 80%;
    min-height: 500px;
    margin: auto;
    display: flex;
    margin-bottom: 2%;
}
#nameBookOne {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#imgBook {
    display: flex;
    align-items: center;
    
    width: 200px;
    height: 300px;
    position: relative;
}
#imgBook img {
    width: 100%;
}
#infosBookOne {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 50px;
    margin-left: 50px;
    text-align: justify;
}
footer {
    background-color: black;
    width: 100%;
    height: 150px;
    display: flex;
    margin-top: 20px;
}
#menuFooter {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    font-size: 20px;
    color: white;
    width: 80%;
    margin: auto;
    padding: 0;
}

/*
*
*       singleTicket.php
*
*/
.contentPosts {
    width: 70%;
    margin: auto;
    border: 2px solid black;
    margin-bottom: 20px;
    background-color: white;
}
#titleListTicket {
    display: flex;
    justify-content: space-around;
    font-size: 40px;
    color: black;
}
.titleTicket {
    margin-bottom: 0;
    border-bottom: 2px solid black;
    background-color: black;
    color: white;
    margin-top: 0;
}
.postText {
    width: 90%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}
.linkComment {
    margin-left: 5px;
    margin-bottom:5px;
    color: black;
}
.link {
    color: black;
}
/*
*
*       formAddPost.php
*
*/
#form {
    width: 80%;
}
#mytextarea {
    width: 80%;
    height: 200px;
}